body {
    font-family: 'Abril Fatface', cursive;;
    background-image: url("imgs/wood table background.png");
    color: white;
}

#t-piles {
    border: solid red;
    display: flex;
    justify-content: end;
}

#m-piles {
    border: solid red;
    display:flex;
    justify-content: end;
}

#p1, 
#p2,
#p3,
#p4,
#p5,
#p6,
#p7
    {
    border: solid red;
    display: flex;
    flex-direction: column;
}

#p1 > div:not(:first-child),
#p2 > div:not(:first-child),
#p3 > div:not(:first-child),
#p4 > div:not(:first-child),
#p5 > div:not(:first-child),
#p6 > div:not(:first-child),
#p7 > div:not(:first-child){
    margin-top: -100px;
}

#b-piles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: solid red;
}

button {
    float: right;
    margin-top: -50px;
}

.i-msg-cont,.f-msg-cont {
    display: flex;
    justify-content: center;
}

#inv-msg {
    text-align: center;
    border: solid white;
    width: 500px;
    visibility:hidden;
}

#final-msg {
    font-size: 56px;
    margin-top: -200px;
    visibility:hidden;
}


