body {
    font-family: 'Abril Fatface', 'sans-serif';
    background-image: url("imgs/wood table background.png");
    color: white;
    margin: 0;
}

header {
    font-size: 28px;
    text-decoration: underline;
}

#t-piles {
    display: flex;
    justify-content: end;
    gap: 5px;
}

#m-piles {
    display:flex;
    justify-content: end;
    gap: 10px;
}

#p0,
#p1, 
#p2,
#p3,
#p4,
#p5,
#p6 {
    display: flex;
    flex-direction: column;
    width: 90px;
}

#p0 > div:not(:first-child),
#p1 > div:not(:first-child),
#p2 > div:not(:first-child),
#p3 > div:not(:first-child),
#p4 > div:not(:first-child),
#p5 > div:not(:first-child),
#p6 > div:not(:first-child){
    margin-top: -100px;
}

#b-piles {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Abril Fatface', 'sans-serif';
    float: right;
    margin-top: -50px;
    border-radius: 5px;
    opacity: 0.7;
}

.i-msg-cont,.f-msg-cont {
    display: flex;
    justify-content: center;
    color: black;
}

#inv-msg {
    font-size: 26px;
    text-align: center;
    border: solid white;
    width: 500px;
    visibility:hidden;
    text-decoration:double;
    padding: 5px;
}

#final-msg {
    font-size: 56px;
    margin-top: -200px;
    visibility:hidden;
}

#opacity-div {
    background-color: white;
    opacity: 0.5;
    margin: 0px;
    padding: 10px;
}


